<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url('/Templates/Assets/Css/estilos.css')}}">
    <link rel="stylesheet" href="{{url('/Templates/Site/Assets/Css/Site.css')}}">
    <title>Document</title>
  
</head>
<body>
     
    {% include 'Topo.html' %}
    
    {% block conteudo %}{% endblock%}

    {% include 'Rodape.html' %}

    <script src="{{url('/Templates/Site/Assets/Js/Site.js')}}">
    </script>
    <script src="url('/Templates/Assets/Js/scripts.js')">
    </script>

</body>
</html>